<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Encyclopedia</title>
    <link rel="stylesheet" href="css/style.css">
    <style>

        body {
            max-width: 800px; 
            margin: auto;
            padding: 20px;
        }
        .paper {
            margin-top: 20px;
            padding: 20px;
            background-color: #f0f0f0;
            border-radius: 8px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .preview-image {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
            display: none; 
        }
        .response-paragraph{
            margin-top: -2px;
        }
        #title {
            text-align: center;
            margin: -2px;
        }   
        #uploadImg {
            margin: -2px;
        }
        #title2 {
            margin: -2px;
        }

    </style>
</head>
<body>
    <h1 id="title">visual encyclopedia</h1>
    <h4 id="title">unlock knowledge from visuals</h4>
    <div class="paper">
        <h2 id="uploadImg">upload an image</h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" id="imageUpload" name="imageUpload" accept="image/*" onchange="previewImage(event)">
            </div>
            <div id="imagePreviewContainer" class="form-group">
                <img id="imagePreview" class="preview-image" src="#" alt="Image Preview">
            </div>
            <button type="submit">Analyze</button>
        </form>
    </div>
    <div class="paper">
        <article class="article">
        <h3 id="title2">information</h1>
        <p class="response-paragraph" id="information"></p>
        </article>
    </div>

    <script>
        function previewImage(event) {
            var input = event.target;
            var imagePreview = document.getElementById('imagePreview');
            var imagePreviewContainer = document.getElementById('imagePreviewContainer');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block'; // Tampilkan preview gambar
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
    <script src="/js/script.js"></script>
</body>
</html>
