body {
  max-width: 800px; 
  margin: auto;
  padding: 20px;
}

.paper {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.form-group {
  margin-bottom: 20px;
}
.preview-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  display: none; 
}
.response-paragraph{
  margin-top: -2px;
}
#title {
  text-align: center;
  margin: -2px;
}   
#uploadImg {
  margin: -2px;
}
#title2 {
  margin: -2px;
}

